@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>

    <p>
        Заказчик хочет предоставить пользователям новый функционал: выдавать оценку вводимых текстов по некоторому критерию. Критерием оценки на начальном этапе является отношение количества гласных букв к количеству согласных, но в будущем этот функционал будет развиваться и планируется задействовать более сложные алгоритмы оценок.   
    </p>
</div>

