@{
    ViewData["Title"] = "Data input";
}
<div>
    <h2>Форма ввода</h2>
    <form method="post">
        Data: <input name="data" type="text"/><br>
        Region: 
        <select name="region">
            <option disabled>Выберите регион</option>
            <option value="RUS">RUS</option>
            <option value="EU">EU</option>
            <option value="USA">USA</option>
        </select><br>
        <input type="submit">
    </form>
</div>