@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>

    <p>
        Задание касается географических аспектов хранения данных: местоположение данных должно определятся кодом региона, полученным от пользователя. Код региона выбирается через Dropdown поле на форме ввода и отправляется вместе с текстом методом POST.
    </p>
</div>

